#camBox{
    display:none;
    position:fixed;
    border:0;
    top:0;
    right:0;
    left:0;
    overflow-x:auto;
    overflow-y:hidden;
    z-index:9999;
    background-color:rgba(3, 12, 41, 0.5);
    width:100%;
    height:100%;
    padding-top:10px;
    text-align:center;
    cursor:pointer;
    -webkit-box-align:center;-webkit-box-orient:vertical;
    -webkit-box-pack:center;-webkit-transition:.2s opacity;
    -webkit-perspective:1000
}

#revdivshowimg{
    width:300px;
    top:0;
    padding:0;
    position:relative;
    margin:0 auto;
    display:block;
    background-color:#fff;
    webkit-box-shadow:6px 0 10px rgba(0,0,0,.2),-6px 0 10px rgba(0,0,0,.2);
    -moz-box-shadow:6px 0 10px rgba(0,0,0,.2),-6px 0 10px rgba(0,0,0,.2);
    box-shadow:6px 0 10px rgba(0,0,0,.2),-6px 0 10px rgba(0,0,0,.2);
    overflow:hidden; 
    border-radius:3px;
    color:#17293c
}        