
{% extends 'layout/layout.twig'%}
{% block content %}
<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->
<body class="A4">

  <!-- Each sheet element should have the class "sheet" -->
  <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
  <section class="sheet padding-10mm">

    <!-- Write HTML just like a web page -->
    <article>
    <h1 style="text-align: center; font-size:large;">COLLABORATION AGREEMENT BETWEEN
      TASTE COCOA GHANA LIMITED AND
      COCOA FARMERS</h1>
      <p>This AGREEMENT is made on the day and year _________________________________________ between</p>
      <p>Taste Cocoa Ghana Limited with its registered address of Second Martey Tsuru Link No. 17, East Airport, Accra, P.O. BOX AH 222 Achimota Accra, Ghana (hereinafter referred to as “THE COMPANY”).</p>
      <p>and</p>
      <p>________________________________________________________________________
        A small scale, medium to large cocoa plantation farmer who earns their living from growing and
        selling cocoa beans and most recently cocoa pulp juice (hereinafter referred to as “<b>THE COCOA
        FARMER</b>”).
      </p>
      <p>both together referred to as “the PARTIES”.</p>
      <b>NOW THEREFORE the Parties hereto hereby agree as follows:</b>
      <ul>
        <li>
         The Company sources the farmer’s fresh cocoa beans and purchases all buckets that meet all in bound check speci-
          fications per agreed quantity and quality standards in accordancewith the Company’s policy. Where buckets are
          deemed to be rejected will not be paid for as per this agreement.
        </li>
        <li>
          Both parties agreed to establish the minimum guaranteed price to be paid for each bucket. For the season 2019/
          2020, the purchase price is GHS 8.0 per bucket of a volume of 16L which may be subject to change when the need
          arises.
        </li>
        <li>
          The Company will make payment through its registered mobile money channel, where there is a network challenge
          the farmer will be paid cash.
        </li>
        <li>
          The cocoa farmer agrees to bring the buckets of cocoa beans with the bean taxi riders to pressing site before 3pm
          on production days, if not instructed differently by the Company..
        </li>
        <li>
          The cocoa farmer is expected to do harvesting of the cocoa beans at most one day before breaking it.
        </li>
        <li>
          The cocoa farmer will have to go through a mandatory training and assessment and strict adherence to hygiene and
          sustainable agricultural practices. 
        </li>
      </ul>

      <b>Duration of Agreement</b>
      
      <br>
      <li>
        This agreement is subject to performance review by both parties. 
      </li>
      <li>
        The Company or the cocoa farmer will have to give notice in writing/phone call one-month (30 days’) notice before
        terminating the agreement.
      </li>
    </article>

  </section>
 <input type="button" value="Print" id="alpha" 
 style="margin: 0;
 position: absolute;
 left: 50%;
 margin-right: -50%;
 transform: translate(-50%, -50%)"/>

</body>

</html>
{% endblock %}